<?xml version='1.0' encoding='utf-8'?>
<widget id="com.attendee.app" version="1.0.1" 
        xmlns="http://www.w3.org/ns/widgets" 
        xmlns:android="http://schemas.android.com/apk/res/android" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0">
        
    <name>Attendee Admin</name>
    
    <description>
        Attendee Mobile Application
    </description>
    
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    
    <content src="index.html" />
    
    <access origin="*" />
    <allow-navigation href="file://*/*" />
    <allow-navigation href="https://api.premierpharmaceuticalsmarketingcorporation.cloud/*" />
    <allow-navigation href="*" />
    
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />

    <plugin name="cordova-plugin-file" spec="*" />
    <plugin name="cordova-plugin-file-opener2" spec="*" />

    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    
    <platform name="android">
        <preference name="android-minSdkVersion" value="26" />

        <resource-file src="res/values/cdv_themes.xml" target="app/src/main/res/values/cdv_themes.xml" />
        <resource-file src="res/values/colors.xml" target="app/src/main/res/values/colors.xml" />
        
        <resource-file src="splash_background.xml" target="app/src/main/res/drawable/splash_background.xml" />
        <resource-file src="www/network_security_config.xml" target="app/src/main/res/xml/network_security_config.xml" />

        <resource-file src="res/icon/ic_launcher_adaptive_back.png" target="app/src/main/res/drawable/ic_launcher_background.png" />
        <resource-file src="res/icon/ic_launcher_adaptive_fore.png" target="app/src/main/res/drawable/ic_launcher_foreground.png" />
        <resource-file src="ic_launcher.xml" target="app/src/main/res/drawable/ic_launcher.xml" />

        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application 
                android:icon="@drawable/ic_launcher" 
                android:roundIcon="@drawable/ic_launcher" 
                android:usesCleartextTraffic="true" 
                android:networkSecurityConfig="@xml/network_security_config" />
        </edit-config>
        
        <config-file target="app/src/main/AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
        </config-file>
    </platform>
</widget>