<div id="rejectModal" class="modal-overlay">
    <div class="modal-card">
        <div class="modal-header">
            <h3>Reject Request</h3>
            <span class="header-icon" onclick="switchModal('accept')">▼</span>
        </div>
        
        <div class="modal-body">
            <div class="modal-content-box">
                <textarea class="remarks-input" placeholder="Enter remarks here.."></textarea>
                
                <div class="modal-actions">
                    <button class="btn-cancel-red" onclick="closeRejectModal()">Cancel</button>
                    <button class="btn-confirm-reject">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</div>